* {
    margin: 0px;
    padding: 0px;
    }

header, main, footer, nav, aside, section {
    display: block;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #ED4C5C;
    width: 100%;
    height: 151px;
}

#logo {
    position:absolute;
    background: url("../images/cookie-bite-solid.svg") no-repeat;
    width: 218px;
    height: 22px;
    margin-top: 51.45px;
    margin-left: 60.8px;
    display: block;
}

header a span {
    margin-left: 36px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

nav ul {
    position: absolute;
    margin-top: 129px;
    margin-left: 49px;
    text-transform: uppercase;
    font-size: 14px; 
    font-weight: 300;
}

nav a{
    color: #FFFFFF;
}

nav li {
    display: inline-block;
    margin-left: 17px;  
}

nav a:hover {
    color: rgb(209, 202, 202);
}

nav li:first-child {
    margin-left: 0;
    font-weight: bold;
}

.main-profile {
    background-color: #ED4C5C;
    width: 100%;
    height: 506px;
}

.main-profile img {
    position: absolute;
    left: 89px;
    top: 196px;
    border-radius: 15px;
}

.main-profile button {
    position: absolute;
    width: 160px;
    height: 50px;
    left: 50px;
    top: 552px;
    border-style: none;
    color:#ED4C5C;
    text-transform: uppercase;
    font-size: 14px;
    background: #FFFFFF;
    border-radius: 6px;
}

.main-info {
    background-color: #FFFFFF;
    width: 100%;
    height: 657px;
}

.main-info h1 {
    position: absolute;
    font-weight: 500;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 56px;
    width: 445px;
}

.main-info p {
    position: absolute;
    width: 445px;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    margin-top: 130.5px;
    margin-left: 50px;
}

.main-info section {
    position: absolute;
    font-size: 14px;
    color: #ED4C5C;
    margin-top: 278px;
    margin-left: 50px;
}

.main-info ul {
    position: absolute;
    margin-top: 345px;
    margin-left: 50px;
}

.main-info img {
    border-radius: 8px;
}

.main-info li {
    display: inline-block;
    margin-right: 30px;
}

.main-info span {
    position: absolute;
    width: 350px;
    height: 40px;
    margin-top: 555px;
    margin-left: 50px;
    background-color: #FFF;
    margin-right: 30px;
    text-align:center;
    border-radius: 8px;
    line-height: 40px;
    color: #ED4C5C;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.main-info .photo1-text {
    margin-left: 50px;
}

.main-info .photo2-text {
    margin-left: 433px;
}

.main-info .photo3-text {
    margin-left: 816px;
}

.main-skills {
    background-color: #F5F4F4;
    width: 100%;
    height: 657px;
}

.main-skills h1 {
    position: absolute;
    margin-top: 57px;
    margin-left: 50px;
    font-weight: 600;
    font-size: 36px;
}

.main-skills section {
    position: absolute;
    background-color: #FFF;
    width: 255px;
    height: 226px;
    margin-top: 160px;
}

.main-skills img {
    position: absolute;
    margin-top: 71.5px;
    margin-left: 92px;
}

.main-skills h3 {
    position: absolute;
    width: 255px;
    margin-top: 139px;
    margin-left: 0px;
    text-align: center;
    color: #000;
}

.main-skills p {
    position: absolute;
    width: 191px;
    height: 51px;
    margin-top: 171px;
    margin-left: 34px;
    font-size: 12px;
    text-align: center;
    color: #000;
}

.main-skills .first{
    margin-left: 50px;
}

.main-skills img {
     width: 60px;
     height: 50px;
}

.main-skills .sec {
    margin-left: 335px;
}

.main-skills .third{
    margin-left: 620px;
}

.main-skills .four{
    margin-left:905px;
}

footer {
    background-color: #ED4C5C;
    width: 100%;
    height: 80px;
}

footer h3 {
    position: absolute;
    margin-top: 29px;
    margin-left: 264px;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

footer .social {
    position: absolute;
    margin-top: 20px;
    margin-left: 38px;
    display:flex;
}

footer ul li {
    list-style:none;
    margin: 12px;
}

footer .social img {
    width: 30px;
    height: 30px;
}